%nav#nav.navbar.navbar-default.navbar-static-top.navbar-chicanolegacy
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"aria-controls" => "navbar", "aria-expanded" => "true", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        = image_tag("logo_header.png", height: "50px")
    #navbar.navbar-collapse.collapse{"aria-expanded" => "true"}
      %ul.nav.navbar-nav
        %li
          %a{:href => "#about"} Test Action
        %li
          %a{:href => "#contact"} Test Action
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Test Dropdown
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li.dropdown-header Nav header
            %li
              %a{:href => "#"} Separated link
            %li
              %a{:href => "#"} One more separated link

      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Sign Up
            %strong.caret
          .dropdown-menu.dropdown-menu-right
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              = devise_error_messages!
              .form-group
                = f.label :email, class: "sr-only", "for" => "signUpEmailInput"
                = f.email_field :email, id: "signUpEmailInput", class: "form-control input-sm", placeholder: "email", autofocus: true
              .form-group
                = f.label :password, class: "sr-only", "for" => "signUpEmailPassword"
                - if @validatable
                  %em
                    (#{@minimum_password_length} characters minimum)
                = f.password_field :password, id: "signUpEmailPassword", class: "form-control input-sm", placeholder: "password", autocomplete: "off"
              .form-group
                = f.label :password_confirmation, class: "sr-only", "for" => "signUpEmailPasswordConfirmation"
                = f.password_field :password_confirmation, id: "signUpEmailPasswordConfirmation", class: "form-control input-sm", placeholder: "confirmation", autocomplete: "off"
              %input#sign-in.btn.btn-primary.btn-block{:type => "submit", :value => "sign up"}


        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Sign In
            %strong.caret
          .dropdown-menu.dropdown-menu-right
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .form-group
                = f.label :email, class: "sr-only", "for" => "signInEmailInput"
                = f.email_field :email, id: "signInEmailInput", class: "form-control input-sm", placeholder: "email", autofocus: true
              .form-group
                = f.label :password, class: "sr-only", "for" => "signInEmailPassword"
                = f.password_field :password, id: "signInEmailPassword", class: "form-control input-sm", placeholder: "password", autocomplete: "off"
              - if devise_mapping.rememberable?
                .field
                  = f.check_box :remember_me
                  = f.label :remember_me
              %input#sign-in.btn.btn-primary.btn-block{:type => "submit", :value => "enter"}
            -#%label{:style => "text-align:center;margin-top:5px"} or
            -#%input#sign-in-google.btn.btn-primary.btn-block{:type => "button", :value => "Sign In with Google"}
            -#%input#sign-in-twitter.btn.btn-primary.btn-block{:type => "button", :value => "Sign In with Twitter"}
%header.masthead
  %h1.text-center
    Chicano Legacy Car &amp; Bike Club

