%h3
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, class: "sr-only"
    = f.email_field :email, class: "form-control input-sm", placeholder: "email", autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    .waitingConfirmation
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-group
    = f.label :current_password, class: "sr-only"
    = f.password_field :current_password, class: "form-control input-sm", placeholder: "current password", autocomplete: "off"
    .small
      %i (we need your current password to confirm any changes)
  .form-group
    = f.label :password, class: "sr-only"
    = f.password_field :password, class: "form-control input-sm", placeholder: "new password", "aria-describedby" => "paswordHelpBlock", autocomplete: "off"
    .small
      %i#paswordHelpBlock.help-block (leave blank if you don't want to change it)
  .form-group
    = f.label :password_confirmation, class: "sr-only"
    = f.password_field :password_confirmation, class: "form-control input-sm", placeholder: "confirm new password", autocomplete: "off"
  %input#sign-in.btn.btn-primary.btn-block{:type => "submit", :value => "update"}

%h4 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: " btn btn-danger btn-block", method: :delete}
= link_to "Back", :back, class: " btn btn-warning"
