%h3 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, class: "sr-only"
    = f.email_field :email, class: "form-control input-sm", placeholder: "email", autofocus: true
  .form-group
    %input#sign-in.btn.btn-primary.btn-block{:type => "submit", :value => "resend password instructions"}
= render "devise/shared/links"
