!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Welcome Chicano Legacy Car Club
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{class: (Rails.env.eql?("production") ? nil : "#{controller.controller_name} #{controller.action_name}")}
    -if user_signed_in?
      = render "shared/utilites/header/dashboard"
    -else
      = render "shared/utilites/header/welcome"
.container
  .row
    .col-xs-12
      .well.well-lg
        .row
          - if devise_mapping.omniauthable?
            .col-xs-12.col-sm-6
              .visible-xs-block
                = link_to "Back", :back, class: " btn btn-warning pull-right"
              = yield
            .col-xs-12.col-sm-1
              .h3.text-center
                = "or"
            .col-xs-12.col-sm-5
              .hidden-xs
                = link_to "Back", :back, class: " btn btn-warning pull-right"
              = render "devise/shared/social_links"
          - else
            .col-xs-12
              = link_to "Back", :back, class: " btn btn-warning pull-right"
              = yield

